
h1, h2 {
    font-family: 'Times New Roman', Times, serif;
}

nav {
    font-weight: 800;
}

.container {
    margin: 20px;
}

#conteudo {
    line-height: 1.5;
}

form {
    border: solid 1px gray;
    padding: 10px;
}